@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
            
::-webkit-scrollbar {
    width: 0px;
    left: 0px;
}
            
img {
    width: 100vw;
}
            
a {
    display: block;
    background-color: darkred;
    background-size: 269px;
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: white;
}